/* 
* Styles created by Jakub Pitner (JakPit23) for Tour de App 2024, nomination round
* These styles are more about colors and padding than about positions, because I use Tailwind CSS
*/

:root {
    --primary-color: #00384d;
    --secondary-color: #74c7d3;
    --special-color: #333333;
    --terciary-color: #FECB2E;
}

.light {
    --primary-color: #74C7D3;
    --secondary-color: #00384d;
}
#logo {
    padding-left: 5px;
    height: 64px;
    width: 96px;
    margin-right: 30%;
}
header {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--special-color);
}
body {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

#icons {
    height: 64px;
    margin-right: 10%;
}
#fa {
    padding-top: 3px;
}

button {
    left: 50px;
    float: right;
}
#bio {
    padding: 0 5px;
}

li {
    padding: 0 5px;
    margin: 5px;
    vertical-align: middle;
    min-width: auto;
    background-color: var(--special-color);
    color: var(--terciary-color)
}

#contact {
    padding-left: 5px;
}
