<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Digital Agency</title>
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-start w-full pt-32 gap-64">
                <div class="flex flex-col items-center justify-center gap-8 w-full h-[50vh]">
                    <h1 class="font-black text-white text-4xl">Stránka nenalezena</h1>
                    <p class="text-xl max-w-5xl">Ztratili jste se? Naši lektoři vám pomohu najít cestu zpět. </p>
                    <a class="btn !bg-sunglate-900" href="/#lecturers">Najdi svého lektora!</a>
                </div>
            </div>
        </div>
    </div>

    <script defer src="/public/js/lib/jquery-3.7.1.min.js"></script>
    <script defer src="/public/js/Application.js"></script>
</body>
</html>