<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <title>Stránka Nenalezena - Teacher Digital Agency</title>
</head>
<body>
    <!-- Header contains of logo and image-->
    <header class="inline-flex flex-wrap" id="header">
        <img src="../public/images/logo.png" id="logo"/>
        <img src="../public/images/ikony.png" id="icons"/>
    </header>
    <h1 class="font-bold text-3xl text-center">Ztratili jste se?</h1>
    <p>Vraťte se zpátky, cesta je pryč</p>
</body>
</html>