<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="h-24 block"></div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col w-full gap-2">
                <h1 class="text-6xl text-black font-bold uppercase">Chybička se vloudila</h1>
                
                <div class="flex flex-col gap-4">
                    <p class="text-lg">Omlouváme se za chybu, která se stala. Nikdo z nás neví proč.</p>
                    
                    <div class="block">
                        <a class="btn btn-big w-fit" href="/">Cesta zpět</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script>
        const app = new Application();
        app.hideLoader();
    </script>
</body>
</html>