<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serverová chyba - Teacher Digital Agency</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <h1 class="font-bold text-3xl text-center">Chyba není na vašem přijímači</h1>
    <p>Omluváme se, ale došlo k chybě na serveru, ale nebojte už na tom pracujeme a za minutku se budete moc zase učit.</p>
</body>
</html>