<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodická knihovna aktivit | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-row w-full pt-24 pb-16 justify-between bg-dark-700 px-4">
                <div class="flex flex-col w-1/2">
                    <h1 class="text-3xl font-bold activity-title">Ukázka aktivity</h1>
                    <div data-description class="bg-dark-400 px-4 py-2 w-1/2">
                        <h3 class="font-semibold text-2xl">Popis</h3>
                        <p>Finále 24. ročníku soutěže ve vývoji webových aplikací</p>
                    </div>
                    <div data-target class="bg-dark-400 px-4 py-2 ml-auto w-1/2">
                        <h3 class="font-semibold text-2xl">Cíl</h3>
                        <ul>
                            <li>Vyzkoušet si komunikovat s fiktivním klientem.</li>
                            <li>Naučit se řídit projekt.</li>
                        </ul>
                    </div>
                    <div data-target class="bg-dark-400 px-4 py-2 w-1/2">
                        <h3 class="font-semibold text-2xl">Přínos</h3>
                        <ul>
                            <li>Vyzkoušet si komunikovat s fiktivním klientem.</li>
                            <li>Naučit se řídit projekt.</li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col gap-12">
                    <div class="flex flex-col items-center">
                        <i class="fa-solid fa-stopwatch text-6xl text-skyblue-900"></i>
                        <p>25 - 40  minut</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <i class="fa-solid fa-users text-6xl text-skyblue-900"></i>
                        <p>6 skupin</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <i class="fa-solid fa-print text-6xl text-skyblue-900"></i>
                        <p>4 - 6 osob/skupina</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>

    <script>
        const app = new Application();
        app.hideLoader();
    </script>
</body>
</html>