<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodická knihovna aktivit | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-center w-full pt-24 pb-16 gap-4">
                <h1 class="text-4xl font-semibold">Metodická knihovna aktivit</h1>
                <div class="flex flex-row w-full px-2 py-4 bg-black-200 rounded-md">
                    <i class="fa-solid fa-search h-6 mx-2 text-xl text-white-900"></i>
                    <input data-searchInput class="w-full bg-transparent focus:outline-none text-white-900 font-normal" type="search" placeholder="">
                </div>
                <div data-activities class="grid md:grid-cols-2 gap-4 w-full mb-4 ">
                    <div class="shadow-md flex flex-col bg-dark-700 py-2 px-4 rounded">
                        <h2 class="">Grandfinále TdA</h2>
                        <div class="flex flex-row mt-2">
                            <img src="http://picsum.photos/seed/a/200" alt="Obrázek aktivity" class="mr-4">
                            <div class="flex flex-col">
                                <p>Finále 24. ročníku soutěže ve vývoji webových aplikací</p>
                                <h3 class="text-2xl font-semibold">Co si vyzkoušíš?</h3>
                                <p class="font-bold"><u>Vyzkoušet si komunikovat s fiktivním klientem.</u></p>
                                <div data-edLevel class="mt-4 mb-2">
                                    <span class="btn btn-big">2. stupeň ZŠ</span>
                                    <span class="btn btn-big">SŠ</span>
                                </div>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>
    <script src="/public/js/pages/ActivityPage.js"></script>

    <script>
        const app = new Application();
        const page = new Page(app);
    </script>
</body>
</html>