<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="h-24 block"></div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col w-full gap-4">
                <h1 class="text-6xl text-black font-bold">Kontakt</h1>

                <div class="flex flex-col gap-2">
                    <div>
                        <p class="text-lg font-bold">Máte dotaz? Zavolejte nám nebo nám pošlete e-mail:</p>
                        <p class="text-lg">Telefonní číslo: <a href="tel:+420123456789">+420 123 456 789</a></p>
                        <p class="text-lg">E-mailová adresa: <a href="mailto:info@example.com">info@example.com</a></p>
                    </div>

                    <div>
                        <p class="text-lg font-bold">Můžete nás také navštívit na naší adrese:</p>
                        <a class="text-lg" href="https://maps.app.goo.gl/b2mKb9CeBDeWkM9FA">Kočičí kavárna na Smíchově, Vodní 567/7, 150 00 Praha 5-Smíchov</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer')%>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script>
        const app = new Application();
        app.hideLoader();
    </script>
</body>
</html>