<!DOCTYPE html>
<html lang="cs-cz">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teacher Digital Agency</title>
        <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
        <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
        <link rel="stylesheet" href="/public/css/app.css">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/blobs') %>
        
        <div class="w-full">
            <div class="max-w-[1280px] mx-auto px-4 gap-8 h-fit">
                <h1 class="text-center text-6xl text-black mb-4">Souhlas se zpracováním osobních údajů</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat placerat nisl, eu viverra metus pulvinar id. Cras in aliquam libero. Aenean eget elit nec erat ullamcorper bibendum at ac lorem. Nam quis urna nisi. Mauris feugiat nisi eu risus tincidunt maximus. Mauris nisi dolor, bibendum vitae massa sed, congue molestie eros. Proin quis dolor ut nulla dignissim mollis. Sed lobortis mi et auctor placerat. Nunc mattis justo ultrices elit ullamcorper, nec molestie arcu pharetra. Nunc consectetur eros a justo consequat ultricies. Maecenas a aliquet turpis. Praesent lacus est, molestie sed metus sed, facilisis commodo mauris. Suspendisse nisi massa, varius at posuere ac, gravida in risus. Nulla faucibus consequat elit eu bibendum.
                    Morbi laoreet mauris scelerisque ultricies ultrices. Duis id dui vitae augue ornare mollis. Praesent hendrerit quis magna et dignissim. Aenean quis porttitor risus, quis ultrices erat. Morbi aliquet euismod est sed imperdiet. Phasellus a aliquam justo. Suspendisse tincidunt ultricies laoreet. Cras non condimentum lacus. Duis posuere, dolor sed ultricies pretium, felis arcu varius dui, non fringilla massa dolor id lectus. Vivamus tristique tempus dui, vel tincidunt est condimentum ac. Morbi feugiat mi in elit rutrum interdum. Ut justo odio, condimentum scelerisque odio in, eleifend ultricies sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent consectetur dignissim tellus nec facilisis. Aliquam erat volutpat. Fusce a faucibus purus.
                    Nullam venenatis nulla tellus, vitae semper sapien gravida et. Suspendisse quis turpis at nisl facilisis pretium ac ac nibh. Aliquam erat volutpat. Sed placerat augue orci. Ut in urna sit amet dolor egestas gravida. Curabitur auctor et felis sit amet efficitur. In finibus nisi a gravida ultricies. Aliquam vitae enim id odio consectetur faucibus vel nec justo. Proin et lectus lacinia, posuere lorem quis, imperdiet ipsum. Vivamus rhoncus turpis metus, eget porta ligula vulputate at. Aliquam non ligula nisl. Aliquam pellentesque, mauris vitae sollicitudin molestie, nulla ipsum malesuada lorem, quis tristique nibh arcu eget sapien. Suspendisse potenti. Curabitur sollicitudin a tellus at sagittis. Ut auctor posuere augue, vel efficitur nisl blandit id. Maecenas nisi leo, consectetur ut molestie non, faucibus ut est.
                    Nam sit amet efficitur sapien. Nulla lacinia euismod gravida. Mauris ac arcu molestie felis mattis condimentum at sit amet metus. Sed ultrices tincidunt convallis. Nunc laoreet tristique tellus. Integer auctor tincidunt lectus, nec pulvinar turpis molestie eget. Donec euismod velit a quam mattis pretium. Nam ex nulla, pharetra ut euismod a, scelerisque ut erat. Sed dignissim ex quis volutpat blandit. Nullam ante lorem, dignissim sed sodales eu, posuere ac nunc. Fusce porta nec arcu nec hendrerit. Mauris rutrum efficitur mauris quis blandit. In laoreet urna at suscipit maximus. Sed risus diam, dignissim ut auctor venenatis, sollicitudin non mauris. Quisque mattis dignissim venenatis.
                    Aenean sit amet enim quis nisi ultricies viverra. Nullam ultricies, neque in molestie sodales, sapien eros feugiat nibh, a consectetur enim arcu vel dolor. Aliquam consectetur tempor lorem at porta. Vestibulum vitae sagittis urna. Nulla erat lacus, gravida ac purus a, aliquam blandit augue. Fusce velit lorem, blandit in sodales vitae, mollis sit amet mauris. Aenean mattis gravida pharetra. Vivamus quis egestas eros, commodo semper turpis. Vivamus tempor pharetra condimentum. Sed sed est lacus. Curabitur nec venenatis arcu. Praesent nec nulla non velit ultrices mattis.</p>
            </div>
        </div>
        
        <%- include('partials/footer')%>
        <script defer src="/public/js/lib/jquery-3.7.1.min.js"></script>
        <script defer src="/public/js/Application.js"></script>
        <script>class Page{}</script>
    </body>
</html>