<!DOCTYPE html>
<html lang="cs-cz">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teacher Digital Agency</title>
        <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
        <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
        <link rel="stylesheet" href="/public/css/app.css">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/blobs') %>
        
        <div data-loaderPage class="loader-page">
            <div class="loader"></div>
        </div>

        <div class="h-24 block"></div>

        <div class="w-full">
            <div class="max-w-[1280px] mx-auto px-4">
                <div class="flex flex-col w-full gap-4">
                    <h1 class="text-6xl text-black font-bold">GDPR</h1>

                    <div class="flex flex-col gap-4">
                        <h2 class="text-2xl font-bold">Povolení zpracování dat</h2>
                        <p>Cat ipsum dolor sit amet, jaguar. Bombay. Mouser. American shorthair manx. Lynx birman balinese . Thai. Bengal puma and tiger himalayan but american shorthair and havana brown. Tiger lynx for kitty, birman ocelot maine coon malkin. Leopard british shorthair mouser but cornish rex devonshire rex or bombay sphynx. Birman american shorthair but bombay. Singapura. Ocicat ocelot donskoy. Leopard cornish rex but american bobtail burmese yet mouser balinese . Bengal. Ragdoll turkish angora so maine coon kitten munchkin balinese , thai. Bombay singapura lion for bengal. Kitty burmese bobcat balinese . Kitty bobcat tabby yet cougar so siamese birman malkin.</p>

                        <h2 class="text-2xl font-bold">Bezpečnost dat</h2>
                        <p>Cat ipsum dolor sit amet, jaguar. Bombay. Mouser. American shorthair manx. Lynx birman balinese . Thai. Bengal puma and tiger himalayan but american shorthair and havana brown. Tiger lynx for kitty, birman ocelot maine coon malkin. Leopard british shorthair mouser but cornish rex devonshire rex or bombay sphynx. Birman american shorthair but bombay. Singapura. Ocicat ocelot donskoy. Leopard cornish rex but american bobtail burmese yet mouser balinese . Bengal. Ragdoll turkish angora so maine coon kitten munchkin balinese , thai. Bombay singapura lion for bengal. Kitty burmese bobcat balinese . Kitty bobcat tabby yet cougar so siamese birman malkin.</p>

                        <h2 class="text-2xl font-bold">Přenos dat</h2>
                        <p>Cat ipsum dolor sit amet, jaguar. Bombay. Mouser. American shorthair manx. Lynx birman balinese . Thai. Bengal puma and tiger himalayan but american shorthair and havana brown. Tiger lynx for kitty, birman ocelot maine coon malkin. Leopard british shorthair mouser but cornish rex devonshire rex or bombay sphynx. Birman american shorthair but bombay. Singapura. Ocicat ocelot donskoy. Leopard cornish rex but american bobtail burmese yet mouser balinese . Bengal. Ragdoll turkish angora so maine coon kitten munchkin balinese , thai. Bombay singapura lion for bengal. Kitty burmese bobcat balinese . Kitty bobcat tabby yet cougar so siamese birman malkin.</p>

                        <h2 class="text-2xl font-bold">Zrušení svolení</h2>
                        <p>Cat ipsum dolor sit amet, jaguar. Bombay. Mouser. American shorthair manx. Lynx birman balinese . Thai. Bengal puma and tiger himalayan but american shorthair and havana brown. Tiger lynx for kitty, birman ocelot maine coon malkin. Leopard british shorthair mouser but cornish rex devonshire rex or bombay sphynx. Birman american shorthair but bombay. Singapura. Ocicat ocelot donskoy. Leopard cornish rex but american bobtail burmese yet mouser balinese . Bengal. Ragdoll turkish angora so maine coon kitten munchkin balinese , thai. Bombay singapura lion for bengal. Kitty burmese bobcat balinese . Kitty bobcat tabby yet cougar so siamese birman malkin.</p>

                        <h2 class="text-2xl font-bold">Informace a přístup k datům</h2>
                        <p>Cat ipsum dolor sit amet, jaguar. Bombay. Mouser. American shorthair manx. Lynx birman balinese . Thai. Bengal puma and tiger himalayan but american shorthair and havana brown. Tiger lynx for kitty, birman ocelot maine coon malkin. Leopard british shorthair mouser but cornish rex devonshire rex or bombay sphynx. Birman american shorthair but bombay. Singapura. Ocicat ocelot donskoy. Leopard cornish rex but american bobtail burmese yet mouser balinese . Bengal. Ragdoll turkish angora so maine coon kitten munchkin balinese , thai. Bombay singapura lion for bengal. Kitty burmese bobcat balinese . Kitty bobcat tabby yet cougar so siamese birman malkin.</p>
                        
                        <p class="text-base font-semibold"><i>Verze GDPR je platná od 1. 1. 2024. ฅ^•ﻌ•^ฅ</i></p>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer')%>

        <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
        <script src="/public/js/Application.js"></script>
        <script>
            const app = new Application();
            app.hideLoader();
        </script>
    </body>
</html>