<!DOCTYPE html>
<html lang="cs-cz">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teacher Digital Agency</title>
        <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
        <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
        <link rel="stylesheet" href="/public/css/app.css">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <%- include('partials/blobs') %>
        
        <div class="w-full">
            <div class="max-w-[1280px] mx-auto px-4 gap-8 h-fit bg-transparent px-4 py-6 rounded-md">
                <h1 class="text-center text-6xl text-black mb-4 font-bold">GDPR</h1>
                <!-- gdpr -->
                <div class="flex flex-col gap-4">
                    <p class="text-xl">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Nullam rhoncus aliquam metus. Integer in sapien. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Vestibulum fermentum tortor id mi. Nullam rhoncus aliquam metus. Pellentesque ipsum. Maecenas libero. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Suspendisse sagittis ultrices augue. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Nunc tincidunt ante vitae massa. Integer malesuada.</p>
                    <p class="text-xl">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Curabitur vitae diam non enim vestibulum interdum. Aenean vel massa quis mauris vehicula lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Cras elementum. Fusce consectetuer risus a nunc. Vivamus porttitor turpis ac leo. Nulla est. Curabitur vitae diam non enim vestibulum interdum. Vivamus porttitor turpis ac leo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </p>
            </div>
        </div>
        
        <%- include('partials/footer')%>
        <script defer src="/public/lib/js/jquery-3.7.1.min.js"></script>
        <script defer src="/public/js/Application.js"></script>
        <script>class Page{}</script>
    </body>
</html>