<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodická knihovna aktivit | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-center w-full pt-24 pb-16 gap-4">
                <h1 class="text-6xl font-semibold">AMOS</h1>

                <div class="flex flex-row w-full gap-2">
                    <div class="flex flex-row w-full px-2 py-4 bg-black-200 rounded-md">
                        <i class="fa-solid fa-search h-6 mx-2 text-xl text-white-900"></i>
                        <input data-searchInput class="w-full bg-transparent focus:outline-none text-white-900 font-normal" type="search" placeholder="">
                    </div>

                    <div data-formBtn class="btn btn-sunglate flex flex-row justify-center items-center min-w-fit">
                        <i class="fa-solid fa-plus h-6 mx-2 text-xl text-white-900"></i>
                        <p class="w-full font-bold pr-2">Přidat aktivitu</p>
                    </div>
                </div>

                <form class="flex flex-col hidden w-9/12 text-white-900 user-form" data-createActivity>
                    <div class="bg-dark-900 shadow-md px-4 py-2">
                        <h2 class="text-2xl mx-auto">Vytvořit novou aktivitu</h2>
                        Název aktivity *:
                        <br>
                        <input type="text" class="w-full user-input" required minlength="5" max="
                        500">
                        Popis aktivity:
                        <br>
                        <textarea class="w-full user-input" required minlength="5" max="500"></textarea>
                        Cíle aktivity *:
                        <br>
                        Cíle zapisujte za sebe a oddělujte je čárkou
                        <br>
                        <input type="text" class="w-full user-input" required minlength="5" max="500">
                        Pro koho je aktivita určena *:
                        <br>
                        <select class="w-full text-black-900">
                            <option value="Group">Pro skupiny</option>
                            <option value="Individual">Pro jednotlivce</option>
                            <option value="All">Pro všchny</option>
                        </select>
                        Délka aktivity (v minutách) *:
                        <br>
                        <div class="flex flex-row gap-4">
                            <input type="number" class="w-1/2 user-input" required min="1" max="100">
                            <input type="number" class="w-1/2 user-input" required min="1" max="100">
                        </div>
                        Doporučená věková skupina *:
                        <div class="flex flex-row gap-4 w-full">
                            <!-- 3 checkboxes -->
                            <input type="checkbox" class="w-1/6">
                            1. stupeň ZŠ
                            <input type="checkbox" class="w-1/6">
                            2. stupeň ZŠ
                            <input type="checkbox" class="w-1/6">
                            SŠ
                        </div>
                        Potřebné pomůcky *:
                        <br>
                        Pomůcky zapisujte za sebe a oddělujte je čárkou
                        <br>
                        <input type="text" class="w-full user-input" required minlength="5" max="500">
                        Příprava: *:
                        <br>
                        <div class="btn mb-4" data-addPrep>Přidat přípravu</div>
                        <div data-prep class="flex flex-col gap-2"></div>
                        <div data-prepList></div>
                        <div class="btn mb-4" data-addInstr>Přidat instrukce</div>
                        <div data-instr class="flex flex-col gap-2"></div>
                        <div data-instrList></div>
                        
                        <!-- add links -->
                        Odkazy:
                        oddělujte čárkami
                        <input type="text" class="user-input">

                        Odkazy na obrázky:
                        oddělujte čárkami
                        <input type="text" class="user-input">
                        
                    </div>
                </form>

                <div data-loaderPage="activities" class="loader"></div>
                
                <div data-activities class="grid md:grid-cols-3 gap-4 w-full mb-4"></div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>
    <script src="/public/js/pages/IndexPage.js"></script>

    <script>
        const app = new Application();
        const page = new Page(app);
    </script>
</body>
</html>