<!DOCTYPE html>
<html lang="cs-cz" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <!-- Import all needed libraries such as Google fonts, Fontawesome, Tailwind CSS and Vue.JS-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc03af5ac0.js"></script>
    <!-- Import our styles -->
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <header class="inline-flex flex-wrap">
        <img src="../public/images/logo.png" id="logo"/>
        <img src="../public/images/ikony.png" id="icons"/>
        <button onclick="setTheme()">Theme</button>
    </header>

    <!-- Filters by prize, tags and location will be handled by backend -->
    <div id="list">
        <li>Dobrovolnictví</li>
        <li>Předsednictví</li>
    </div>
    <!-- List of authors will be created by JS -->
    <div id="authors">

    </div>
    <script src="../public/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/components/ComponentManager.js"></script>
    <script>
        ComponentManager.createAndAppend("h1", "Teacher Digital Agency", "authors");
    </script>
</body>
</html>