<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-center w-full pt-32 pb-16 gap-64">
                <div class="flex flex-col items-center justify-center gap-8 w-full h-[50vh]">
                    <h1 class="font-black text-4xl md:text-6xl">Teacher Digital Agency</h1>
                    <p class="text-lg md:text-xl text-center max-w-5xl">Otevřete si dveře do nové éry vzdělávání 21. století. Bojíte se učení? Vzomínáte na svá školní léta, kdy jste nestíhali tempo vyučujícího a báli se jakou známku dostanete? Nyní už nemusíte! V Teacher Digital Agency sdružujeme experty ze všech oborů, kteří se přizpůsobí vašemu tempu a se vším vám rádi pomohou. </p>   
                    <p class="text-lg md:text-xl text-center max-w-5xl">Našim cílem je spojit klienty s vhodnými učiteli. S naší databází expertů najde každý to co potřebuje. Takže si vyberte svého lektora a kontaktujte ho. A vše ostatní nechte na nás. Garantujeme vám, že vás budou vzdělávat jen odborníci. Vaše vzdělání je naše priorita.</p>
                    <a class="btn btn-big !bg-sunglate-700" href="#lecturers">To chci!</a>
                </div>
                
                <div class="showcase-container flex flex-col items-start gap-48 w-3/4">
                    <div class="showcase">
                        <div class="showcase-content">
                            <h1>Spolehlivost</h1>
                            <p>Veškeří lektoři prochází přes složitý přijímací systém, abychom zajistili, že se k vám dostanou jen ti nejlepší. Kromě toho si od vás nebereme žádné skryté poplatky, vše co zaplatíte jde lektorům.                            </p>
                        </div>

                        <div class="showcase-image">
                            <img src="/public/images/icons/management.svg">
                        </div>
                    </div>

                    <div class="showcase">
                        <div class="showcase-content">
                            <h1>Zkušenost</h1>
                            <p>Všichni lektoři jsou experti ve svém oboru. Jsou to zušení profesionálové, kteří vás do svého oboru kvalitně zasvětí</p>
                        </div>

                        <div class="showcase-image">
                            <img src="/public/images/icons/idea.svg">
                        </div>
                    </div>

                    <div class="showcase">
                        <div class="showcase-content">
                            <h1>Kvalifikace</h1>
                            <p>Hledáte někoho, kdo by vás naučil programovat nebo spíše potřrebujete vylepšit své znalosti cizích jazyků? U nás najdete experty na všechno</p>
                        </div>

                        <div class="showcase-image">
                            <img src="/public/images/icons/studium.svg">
                        </div>
                    </div>

                    <div class="showcase">
                        <div class="showcase-content">
                            <h1>Rychlost</h1>
                            <p>Garantujeme vám, že pokud některý z lektorů ukončí své působení, budete o tom věfět téměř okamžitě. To samé platí i v případě změny ceny či jiných parametrů</p>
                        </div>
                        
                        <div class="showcase-image">
                            <img src="/public/images/icons/conversation.svg">
                        </div>
                    </div>

                    <div class="showcase">
                        <div class="showcase-content">
                            <h1>Flexibilita</h1>
                            <p>Našli jste ideálního lektora, ale bydlí moc daleko od vás? Nezoufejte a domluvte si online hodiny. Většina lektorů s tím nebude mít problém.</p>
                        </div>

                        <div class="showcase-image">
                            <img src="/public/images/icons/computer.svg">
                        </div>
                    </div>
                </div>

                <div  class="flex flex-col items-center justify-center gap-8 w-full">
                    <h1 class="font-black text-4xl">Najdi lektora</h1>
                    
                    <div class="flex flex-row w-full gap-2">
                        <div class="flex flex-row w-full px-2 py-4 dark:bg-dark-700 shadow-lg rounded-md">
                            <i class="fa-solid fa-search h-6 mx-2 text-xl dark:text-white-900"></i>
                            <input data-searchInput class="w-full bg-transparent focus:outline-none dark:text-white-900 font-normal" type="search" placeholder="Najděte svého lektora">
                        </div>
        
                        <div data-filterButton class="flex flex-row min-w-fit px-2 py-4 dark:bg-dark-700 shadow-lg rounded-md cursor-pointer">
                            <i class="fa-solid fa-filter h-6 mx-2 text-xl dark:text-white-900"></i>
                            <p class="w-full font-bold pr-2">Filtry</p>
                        </div>
                    </div>

                    <div data-filterBox class="dark:bg-dark-600 shadow-lg flex flex-col p-6 w-full rounded gap-4 !hidden">
                        <div class="flex">
                            <i class="fa-solid fa-filter h-8 mx-2 text-3xl dark:text-white-900"></i>
                            <h1 class="text-2xl font-bold">Filtry</h1>
                        </div>
                   
                        <div class="flex flex-col gap-2">
                            <h1 class="text-xl font-bold">Cena za hodinu:</h1>
                        
                            <div class="flex flex-col gap-2 w-1/2">
                                <div class="price-input">
                                    <div class="price-field">
                                        <p>Minimálně:</p>
                                        <input data-filterPrice-minInput type="number" value="">
                                    </div>
                                    
                                    <div class="price-field">
                                        <p>Maximálně:</p>
                                        <input data-filterPrice-maxInput type="number" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <h1 class="text-xl font-bold">Lokace:</h1>

                            <div data-filterLocations class="flex flex-wrap"></div>
                        </div>
                    
                        <div>
                            <h1 class="text-xl font-bold">Tagy:</h1>
                            <div data-filterTags class="flex flex-wrap">
                            </div>
                        </div>
                    </div>
        
                    <div id="lecturers" class="flex flex-col items-center justify-center w-full">
                        <div data-loader>
                            <div class="loader"></div>
                        </div>

                        <p data-noResults style="display: none" class="text-white text-2xl">Nenašli jsme vám žádné lektory :(</p>

                        <div data-lecturers style="display: none" class="grid grid-cols-2 gap-4 w-full mb-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer src="/public/js/lib/jquery-3.7.1.min.js"></script>
    <script defer src="/public/js/pages/LecturersPage.js"></script>
    <script defer src="/public/js/LecturerAPI.js"></script>
    <script defer src="/public/js/Application.js"></script>
</body>
</html>