<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Digital Agency</title>
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-start w-full pt-32 gap-64">
                <div class="flex flex-col items-center justify-center gap-8 w-full h-[50vh]">
                    <h1 class="font-black text-white text-6xl">Teacher Digital Agency</h1>
                    <p class="text-xl max-w-5xl">Existuje mnoho stránek, které zprostředkovávají lektory. Tak proč zrovna Teacher Digital Agency? Existuje mnoho dobrých důvodů, ale my se podíváme na ty nejdůležitější:</p>   
                    <a class="btn !bg-sunglate-900" href="#lecturers">To chci!</a>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <!-- Grid -->
                    <div class="grid grid-cols-2 w-full">
                        <img src="../public/images/TdA_ikony_nastaveni_white.svg" class="w-20 h-20 mb-2">
                        <p class="inline-block align-middle">V ničem vás nepodvádíme. Vše co zaplatíte jde lektorům.</p>
                        <img src="../public/images/TdA_ikony_napad_white.svg" class="w-20 h-20 mb-2">
                        <p>Všichni lektoři jsou vysoce kvalifikování ve svém oboru</p>
                        <img src="../public/images/TdA_ikony_studium_white.svg" class="w-20 h-20 mb-2">
                        <p>Zajímají vás moderní technologie nebo jak vyšívat? Máme lektory na všechno.</p>
                        <img src="../public/images/TdA_ikony_konverzace_white.svg" class="w-20 h-20 mb-2">
                        <p>Pokud se něco změní, dozvíte se o tom prakticky okamžitě</p>
                        <img src="../public/images/TdA_ikony_pocitac_white.svg" class="w-20 h-20 mb-2">
                        <p>Máte na výběr zda se s lektorem sejdete online nebo na domluveném místě</p>
                    </div>
                </div>
                <div id="lecturers" class="flex flex-col items-center justify-center gap-8 w-full">
                    <h1 class="font-black text-white text-4xl">Najdi lektora</h1>
                    
                    <div class="flex flex-row w-full gap-2">
                        <div class="flex flex-row w-full px-2 py-4 bg-neutral-900 rounded-md">
                            <img class="h-6 w-6 mx-2" src="/public/images/icons/search.svg">
                            <input data-searchInput class="w-full bg-transparent focus:outline-none text-white-900 font-normal" type="search" placeholder="Najděte svého lektora">
                        </div>
        
                        <div data-filterButton class="flex flex-row min-w-fit px-2 py-4 bg-neutral-900 rounded-md cursor-pointer">
                            <img class="h-6 w-6 mx-2" src="/public/images/icons/filter.svg">
                            <p class="w-full font-normal pr-2">Filtry</p>
                        </div>
                    </div>

                    <!-- <div data-filterBox class="bg-neutral-900 flex flex-col p-6 w-full rounded gap-4 !hidden"> -->
                    <div data-filterBox class="bg-neutral-900 flex flex-col p-6 w-full rounded gap-4">
                        <div class="flex">
                            <img class="h-8 mx-2" src="/public/images/icons/filter.svg">
                            <h1 class="text-2xl font-bold text-white">Filter</h1>
                        </div>
                   
                        <div class="flex flex-col gap-2">
                            <h1 class="text-xl font-bold">Price per hour:</h1>
                        
                            <div class="flex flex-col gap-2 w-1/2">
                                <div class="price-input">
                                    <div class="price-field">
                                        <span>Minimum:</span>
                                        <input data-filterPrice-minInput type="number" value="0">
                                    </div>
                                    
                                    <div class="price-field">
                                        <span>Maximum:</span>
                                        <input data-filterPrice-maxInput type="number" value="1000">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div>
                            <h1 class="text-xl font-bold">Lokace:</h1>

                            <div data-filterLocations class="flex flex-wrap"></div>
                        </div>
                    
                        <div>
                            <h1 class="text-xl font-bold">Tagy:</h1>

                            <div data-filterTags class="flex flex-wrap">
                            </div>
                        </div>
                    </div>
        
                    <div class="flex flex-col items-center justify-center w-full">
                        <div data-loader>
                            <div class="loader"></div>
                        </div>

                        <p data-noResults style="display: none" class="text-white text-2xl">Nenašli jsme vám žádné lektory :(</p>

                        <div data-lecturers style="display: none" class="grid grid-cols-2 gap-4 w-full"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer src="/public/js/lib/jquery-3.7.1.min.js"></script>
    <script defer src="/public/js/pages/LecturersPage.js"></script>
    <script defer src="/public/js/LecturerAPI.js"></script>
    <script defer src="/public/js/Application.js"></script>
</body>
</html>