<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodická knihovna aktivit | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-center w-full pt-24 pb-16 gap-4">
                <h1 class="text-6xl font-semibold">AMOS</h1>
                <div class="flex flex-row w-full px-2 py-4 bg-black-200 rounded-md">
                    <i class="fa-solid fa-search h-6 mx-2 text-xl text-white-900"></i>
                    <input data-searchInput class="w-full bg-transparent focus:outline-none text-white-900 font-normal" type="search" placeholder="Zadejte popis aktivity">
                </div>
                <div data-activities class="grid md:grid-cols-3 gap-4 w-full mb-4">
                    
                </div>
                <div class="btn btn-big" data-formBtn>Vytvořit novou aktivitu</div>
                <div class="flex flex-col hidden w-9/12 text-white-900" data-createActivity>
                    <div class="bg-dark-900 shadow-md px-4 py-2">
                        <h2 class="text-2xl mx-auto">Vytvořit novou aktivitu</h2>
                        Název aktivity *:
                        <br>
                        <input type="text" class="w-full bg-white-900 focus:outline-none text-dark-900 font-normal rounded-sm" required minlength="5" max="
                        500">
                        Popis aktivity *:
                        <br>
                        <textarea class="w-full bg-white-900 focus:outline-none text-dark-900 font-normal rounded-sm" required minlength="5" max="500"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>
    <script src="/public/js/pages/ActivityPage.js"></script>

    <script>
        const app = new Application();
        const page = new Page(app);
    </script>
</body>
</html>