<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <!-- Import all needed libraries such as Google fonts, Fontawesome-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc03af5ac0.js"></script>
    <!-- Import our styles -->
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <header class="flex flex-wrap">
        <img src="../public/images/logo.png" id="logo" class="flex"/>
        <img src="../public/images/ikony.png" id="icons" class="flex"/>
        <button onclick="setTheme()">Theme</button>
    </header>
    <div id="container" class="container">
        <h1 class="font-bold text-3xl text-center">Teacher Digital Agency</h1>
        <p>Nudíte se? Kupte si medvídka mývala! Pokud tohle často slýcháte od rodiny a přátel máte několik možností: </p>
        <ol>
            <li>Koupit si mývala</li>
            <li>Ignorovat poznámky a nudit se dál</li>
            <li class="font-bold">Naučit se něco nového</li>
        </ol>
        <p>S první možností vám nepomůžeme, bohužel mývala u nás nenajdete. A kdo by se chtěl nudit? Co takhle investovat do digitálního vzdělávání? Digitální dovednosti jsou velmi ceněny, tak proč si s nimi nezačít přivydělávat? Chcete zorganizovat velkou akci, tvořit reklamu nebo pomáhat s optimalizací WWW stránek, ale nevíte jak na to? Pak jste tady správně!
            V Teacher Digital Agency pro vás tvoříme katalog zkušených lektorů, kteří vás rádi vše naučí. Stačí najít lektora, který se k vám hodí a kontaktovat ho. Poté se již můžete přestat nudit a užít si hodiny zábavy. A pokud budete nespokojeni, tak vám po domluvě seženeme jako náhradu pravého mývala.
        </p>

        <div id="search">
            <input type="search" name="" id="searchbox" placeholder="aHOJ">
        </div>
        <div id="tags">
            <p>Lektory můžete filtrovat pomocí tagů</p>
        </div>
        <div id="lecturers">
            <p>A nebo se můžete podívat, kdo nabízí své vědomosti</p>
        </div>
    </div>
    <script src="../public/theme.js"></script>
    <script src="../public/lib/js/axios.min.js"></script>
    <script src="../public/components/RequestManager.js"></script>
    <script src="../public/components/ComponentManager.js"></script>
</body>
</html>