<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="h-24 block"></div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-start w-full pt-4 gap-4">
                <div data-lecturer style="display: none;" class="lecturer">
                </div>

                <div data-page class="w-full lg:w-1/2 mx-auto reservation">
                    <form class="flex flex-col gap-2 w-full">
                        <h1 class="text-2xl mx-auto font-bold">Chcete si zarezervovat hodinu?</h1>
                        
                        <div class="flex flex-row justify-between gap-2 w-full">
                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Jméno</label>
                                <input class="user-input" type="text" placeholder="Veronika" id="firstName">
                            </div>
                            
                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Příjmení</label>
                                <input class="user-input" type="text" placeholder="Vašíčková" id="lastName">
                            </div>
                        </div>
                        
                        <div class="flex flex-row justify-between gap-2 w-full">
                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Email</label>
                                <input class="user-input" type="email" placeholder="veronika.vasickova@gmail.com" id="email">
                            </div>

                            <div class="w-1/2">
                                <label for="firstName" class="text-lg font-bold">Telefonní číslo</label>
                                <input class="user-input" type="tel" placeholder="+420 123 456 789" id="telephone">
                            </div>
                        </div>

                        <div class="flex flex-col w-full">
                            <label for="firstName" class="text-lg font-bold">Místo setkání</label>
                            <input class="user-input" type="text" placeholder="Kočičí kavárna na Smíchově" id="location">
                        </div>

                        <div class="flex flex-col w-full mb-2">
                            <label class="text-lg font-bold">Datum a čas</label>
                            <input class="user-input" type="datetime-local" id="time">
                        </div>

                        <div class="flex flex-col w-full">
                            <textarea class="user-input h-24" placeholder="Moje zpráva lektorovi..." id="message"></textarea>
                        </div>
                        
                        <button class="btn">Rezervovat</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script defer src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script defer src="/public/js/pages/LecturerPage.js"></script>
    <script defer src="/public/js/modules/CalendarModule.js"></script>
    <script defer src="/public/js/LecturerAPI.js"></script>
    <script defer src="/public/js/Application.js"></script>
</body>
</html>