<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc03af5ac0.js"></script>
    <!-- Import our styles -->
    <link rel="stylesheet" href="../public/styles/styles.css">
    <title id="name"></title>
</head>
<body>
    <!-- Header contains of logo and image-->
    <header class="inline-flex flex-wrap" id="header">
        <img src="../public/images/logo.png" id="logo"/>
        <img src="../public/images/ikony.png" id="icons"/>
        <button onclick="setTheme()">Theme</button>
    </header>   
    <div class="container" id="container">
        <!-- Fill with dynamic content -->
    </div>
    <script src="../public/theme.js"></script>
    <script src="../public/lib/js/axios.min.js"></script>
    <script src="../public/components/RequestManager.js"></script>
    <script src="../public/components/ComponentManager.js"></script>
    <script>
        var manager = new ComponentManager();
    </script>
</body>
</html>