<!DOCTYPE html>
<html lang="cs-cz" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <!-- Import all needed libraries such as Google fonts, Fontawesome, Tailwind CSS and Vue.JS-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc03af5ac0.js"></script>
    <!-- Import our styles -->
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <!-- Header contains of logo and image-->
    <header class="inline-flex flex-wrap">
        <img src="../public/images/logo.png" id="logo"/>
        <img src="../public/images/ikony.png" id="icons"/>
        <button onclick="setTheme()">Theme</button>
    </header>
    <div class="container">
        <h1 class="font-bold text-3xl text-center">Mgr. Petra Swill Plachá</h1>
        <div class="text-center location">
         <p class="fa-solid fa-location-dot "> B r n o</p>
        </div>
        <p class="text-center">Aktivní studentka / Předsedkyně spolku / Projektová manažerka</p>
        <div class="tags flex flex-wrap justify-center font-bold">
            <li>Dobrovolnictví</li>
            <li>Studentské spolky</li>
            <li>Efektivní učení</li>
            <li>Prezentační dovednosti</li>
            <li>Marketing pro neziskové studentské projekty</li>
            <li>Mimoškolní aktivity</li>
            <li>Projektový management, event management</li>
            <li>Fundraising pro neziskové studentské projekty</li>
        </div>
        <img src="https://tourdeapp.cz/storage/images/2023_02_25/412ff296a291f021bbb6de10e8d0b94863fa89308843b/big.png.webp" alt="Profil" class="rounded-2xl float-right align-middle"> 
        <p>Baví mě organizovat věci. Ať už to bylo vyvíjení mobilních aplikací ve Futured, pořádání konferencí,
            spolupráce na soutěžích Prezentiáda, pIšQworky, <b>Tour de App</b> a 
           Středoškolák roku, nebo třeba dobrovolnictví, vždycky jsem skončila u projektového managementu, 
           rozvíjení soft-skills a vzdělávání. U studentských projektů a akcí jsem si vyzkoušela snad 
           všechno od marketingu po logistiku a moc ráda to předám dál. 
           Momentálně studuji Pdf MUNI a FF MUNI v Brně.</p>
           <table>
            <tr class="font-bold">
                <td>Cena za hodinu</td>
                <td>Telefon</td>
                <td>Emaily</td>
            </tr>
            <tr>
                <td>1200 Kč</td>
                <td>+420 722 482 974</td>
                <td><a href="mailto:placha@scg.cz">placha@scg.cz</a>, <a href="mailto:predseda@scg.cz">predseda@scg.cz</a></td>
            </tr>
           </table>
        
    </div>
    <script src="../public/theme.js"></script>
</body>
</html>