<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-start w-full pt-4 gap-4">
                <div data-lecturer style="display: none;" class="lecturer"></div>
            </div>
        </div>
    </div>

    <script defer src="/public/js/lib/jquery-3.7.1.min.js"></script>
    <script defer src="/public/js/pages/LecturerPage.js"></script>
    <script defer src="/public/js/LecturerAPI.js"></script>
    <script defer src="/public/js/Application.js"></script>
</body>
</html>