<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div class="w-full">
        <!-- register form -->
        <div class="container mx-auto mb-6">
            <div class="flex justify-center items-center h-max">
                <div class="w-full max-w-md">
                    <form class="bg-dark-900 shadow-lg rounded px-8 pt-6 pb-8 mb-4">
                        <h1 class="text-3xl font-semibold text-center mb-4 text-white-700">Přidejte se k nám!</h1>
                        <div data-error class="bg-sunglate-900 text-xl rounded">
                        
                        </div>
                        <div class="mb-4">
                            <label class="block text-white-700 text-sm font-bold mb-2" for="username">
                                Uživatelské jméno
                            </label>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" data-username placeholder="SuperCat345" required>
                        </div>
                        <div class="mb-6">
                            <label class="block text-white-700 text-sm font-bold mb-2" for="password">
                                Heslo
                            </label>
                            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" data-password placeholder="SecretPass" required>
                        </div>
                        <!-- button -->
                        <div class="flex items-center justify-center">
                            <button data-loginBtn class="btn btn-big" type="submit">
                                Přihlásit se
                            </button>
                        </div>
                    </form>
                </div>
    </div>
    <script defer src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script defer src="/public/js/Application.js"></script>
    <script defer src="/public/js/Authentication.js"></script>
    <script>class Page{}</script>
</body>
</html>