<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Teacher Digital Agency</title>
    <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/public/lib/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/blobs') %>

    <div data-loaderPage class="loader-page">
        <div class="loader"></div>
    </div>

    <div class="w-full">
        <div class="max-w-[1280px] mx-auto px-4">
            <div class="flex flex-col items-center w-full pt-24 pb-16 gap-4">
                <h1 class="text-4xl font-extrabold">Přihlášení</h1>

                    <form data-loginForm class="user-form flex flex-col gap-2 w-full">
                        <div class="flex flex-col gap-1">
                            <label for="firstName" class="text-lg font-bold">Username</label>
                            <input data-userInput="username" class="user-input" type="text" placeholder="veronika.vasickova" required>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="firstName" class="text-lg font-bold">Heslo</label>
                            <input data-userInput="password" class="user-input" type="password" required>
                        </div>
                        
                        <div class="flex flex-col gap-1 mt-4">
                            <button type="submit" class="btn">Přihlásit se</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script src="/public/lib/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/Application.js"></script>
    <script src="/public/js/API.js"></script>
    <script src="/public/js/pages/LoginPage.js"></script>

    <script>
        const app = new Application();
        const page = new Page(app);
    </script>
</body>
</html>