@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
    SCROLLBAR
*/
::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-thumb {
    @apply bg-skyblue-900;
    border-radius: 1px;
}

/* 
    CHANGING DEFAULT VALUES
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
}

body {
    @apply bg-white-900 dark:bg-dark-900;
}

a {
    @apply text-skyblue-900;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-dark-900 dark:text-white-900;
    font-family: 'Lalezar', system-ui;
}

p {
    @apply text-dark-900 dark:text-white-900;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    @apply py-2 px-4 rounded-md bg-sunglate-900 text-white-900 font-semibold transition-colors;
}

.btn-big {
    @apply text-2xl font-bold py-3 px-6;

}
.btn:hover {
    @apply bg-sunglate-300;
}

/* LOADER */
.loader-page {
    @apply flex justify-center items-center w-screen h-screen fixed top-0 left-0 bg-dark-900 z-50 opacity-100 transition-opacity duration-700;
}

.loader {
    @apply flex items-start;
    width: 60px;
    aspect-ratio: 1;
}

.loader:before,
.loader:after {
    @apply flex-1;
    content: "";
    aspect-ratio: 1;
    --g: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #3330 0);
    background: var(--g), var(--g), var(--g);   
    filter: drop-shadow(30px 30px 0 #fff);
    animation: l20 1s infinite;
}

.loader:after {
    transform: scaleX(-1);
}

@keyframes l20 {
    0% {
        background-position: 0 0, 10px 10px, 20px 20px
    }

    33% {
        background-position: 10px 10px
    }

    66% {
        background-position: 0 20px, 10px 10px, 20px 0
    }

    100% {
        background-position: 0 0, 10px 10px, 20px 20px
    }
}

/* LECTURER CARD */
.lecturerCard {
    @apply flex flex-row dark:bg-dark-900 shadow-lg rounded-md py-4 px-4 cursor-pointer;
    box-shadow: 5px 5px 10px #fff;
}

.lecturerCard:hover {
    /* use transition and do the color transparent on hover */
    @apply bg-sunglate-300;
}

.lecturerCard .lecturer-profileImage {
    @apply h-32 w-32 rounded-md;
}

.lecturerCard .lecturer-content {
    @apply flex flex-col gap-2 w-full px-4;
}

.lecturerCard .lecturer-name {
    @apply text-2xl font-black dark:text-white-900;
}

.lecturerCard .lecturer-claim {
    @apply font-medium dark:text-white-900;
}

.lecturerCard .lecturer-price {
    @apply max-w-fit py-1 px-3 bg-sunglate-200 text-sunglate-900 font-bold rounded-md;
}

.lecturerCard .lecturer-location {
    @apply max-w-fit py-1 px-3 bg-prussianblue-900 text-white-900 text-lg font-bold rounded-md;
}

.lecturerCard .lecturer-tags {
    @apply flex flex-wrap space-y-1;
}

.lecturerCard .lecturer-tags p {
    @apply py-1 px-3 mr-2 mt-1 bg-skyblue-200 text-skyblue-900 font-semibold rounded-md flex-shrink-0;
}

/* LECTURER */
.lecturer {
    @apply flex flex-col items-center md:flex-row gap-4 dark:bg-dark-700 shadow-lg rounded-md p-6 w-full;
}

.lecturer .lecturer-profileImage {
    @apply h-80 w-80 rounded-md;
}

.lecturer .lecturer-content {
    @apply w-full;
}

.lecturer .lecturer-name {
    @apply text-4xl font-black dark:text-white-900;
}

.lecturer .lecturer-claim {
    @apply text-lg font-medium mb-2 dark:text-white-900;
}

.lecturer .lecturer-bio {
    @apply text-lg font-medium mb-2 dark:text-white-900;
}

.lecturer .lecturer-location {
    @apply max-w-fit py-1 px-3 bg-prussianblue-900 text-white-900 text-lg font-bold rounded-md;
}

.lecturer .lecturer-price {
    @apply max-w-fit py-1 px-3 bg-sunglate-200 text-sunglate-900 text-lg font-bold rounded-md;
}

.lecturer .lecturer-tags {
    @apply flex flex-wrap space-y-1 my-1;
}

.lecturer .lecturer-tags p {
    @apply py-1 px-3 mr-2 mt-1 bg-skyblue-200 text-skyblue-900 font-semibold rounded-md flex-shrink-0;
}

.lecturer .lecturer-rowBox h1 {
    @apply text-xl font-bold mb-2 dark:text-white-900;
}

.lecturer .lecturer-rowBox a {
    @apply text-base font-bold;
}

/* CHECKBOX */
.checkbox {
    @apply py-1 px-3 mr-2 mt-1 bg-sunglate-200 hover:bg-sunglate-300 hover:dark:bg-sunglate-100 text-sunglate-900 font-semibold rounded-md transition-colors;
}

.checkbox input {
    @apply hidden;
}

.checkbox:has(input:checked) {
    @apply bg-sunglate-400;
}

.checkbox-skyblue {
    @apply bg-skyblue-600 dark:bg-skyblue-200 text-white-900 dark:text-skyblue-900 hover:bg-skyblue-400 hover:dark:bg-skyblue-100;
}

.checkbox-skyblue:has(input:checked) {
    @apply bg-skyblue-800 dark:bg-skyblue-400;
}

.checkbox-prussianblue {
    @apply bg-prussianblue-400 dark:bg-prussianblue-200 text-white-900 dark:text-prussianblue-900 hover:bg-prussianblue-600 hover:dark:bg-prussianblue-900;
}

.checkbox-prussianblue:has(input:checked) {
    @apply bg-prussianblue-800 dark:bg-prussianblue-600;
}

/* PRICE INPUT */
.price-input {
    @apply bg-sunglate-200 text-sunglate-900 font-bold py-1 px-2 rounded-md w-24 focus:outline-none focus:bg-sunglate-400;
}

/* SHOWCASE */
.showcase {
    @apply flex flex-col md:flex-row gap-16 items-center w-full;
}

.showcase .showcase-content {
    @apply flex flex-col justify-center md:items-center gap-4 w-full md:w-3/4;
}

.showcase .showcase-content h1 {
    @apply text-4xl font-black;
}

.showcase .showcase-content p {
    @apply text-lg font-medium;
}

.showcase .showcase-image {
    @apply flex items-center justify-center w-full md:w-1/4;
}

.showcase .showcase-image img {
    @apply h-32 w-32 rounded-md invert dark:invert-0;
}

.showcase:nth-child(even) {
    @apply md:flex-row-reverse;
}

[data-filterBox] .checkbox span {
    @apply dark:text-white-900;
}

/* NAVBAR */
.nav-link {
    @apply h-10 gap-2 text-base font-bold px-4 py-2 text-dark-900 dark:text-white-900 rounded-md;
    transition: all 0.2s;
}

.nav-link:hover {
    @apply bg-white-50;
    background: theme("colors.white.50");
}

.register-form {
    box-shadow: 5px 5px 10px #fff;
}

/* CALENDAR */
#calendar  {
    @apply w-full h-max px-4;
}
