<div>
    <div class="hidden lg:block absolute top-0 left-0 z-[-3]">
        <img src="/public/images/blobs-left.svg" class="min-h-screen object-cover">
    </div>
    
    <div class="absolute min-h-[100vh] top-0 right-0 z-[-3]">
        <img src="/public/images/blobs-right.svg" class="min-h-screen object-cover">
    </div>
</div>