<div class="h-6 block"></div>

<div class="container mx-auto px-4">
    <div class="flex flex-row items-center justify-between w-max py-4">
        <a href="/">
            <img src="/public/images/logo/black.svg" class="dark:hidden h-12">
            <img src="/public/images/logo/white.svg" class="hidden dark:block h-12">
        </a>
        
        <ul>
            <h2>Obecné</h2>
            <li>Domů</li>
            <li>Seznam lektorů</li>
        </ul>

        </div>
    </div>
</div>