<footer>
    <div class="container mx-auto px-4">
        <div class="flex flex-col items-center justify-center w-full py-4">
            <img src="/public/images/logo/white.svg" class="h-20 w-28 my-2 mx-4 block">

            <p class="text-xl font-medium">
                <span class="text-sunglate-900">©</span> Teacher Digital Agency <span class="text-sunglate-900"><%= new Date().getFullYear() %></span>
            </p>

            <div class="flex flex-row gap-2">
                <a href="/contact" class="font-medium text-white-200">Kontakt</a>
                <a href="/gdpr" class="font-medium text-white-200">GDPR</a>
            </div>
        </div>
    </div>
</footer>